# --- Compilación y C++ ---
sdkconfig
/sdkconfig.old
build/
build_linux/
.cache/
compile_commands.json
.current_target
.clangd/

# --- Python ---
**/__pycache__/
**/.venv/
*.py[cod]
*$py.class

# --- Configuración y Scripts locales ---
.envrc_borrarestoparafunc
.ignore

# --- Archivos de datos y simulador (vi estos en tu lista) ---
*.pcap
tools/simulador/bf_data/eeprom.bin
tools/msp/*.csv
