# Flash 
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y

# Logs
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# FreeRTOS (mediciones y estabilidad)
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_HZ=1000   # ticks a 1 ms para vTaskDelayUntil estable (opcional)

# Watchdog
CONFIG_ESP_TASK_WDT=y
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=y
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=y

# UART (buffers más grandes para MSP/iBUS si los necesitas)
CONFIG_UART_ISR_IN_IRAM=y
CONFIG_UART_TX_BUFFER_SIZE=2048
CONFIG_UART_RX_BUFFER_SIZE=1024

# lwIP (timeouts razonables; ajusta si hace falta)
CONFIG_LWIP_MAX_SOCKETS=10
CONFIG_LWIP_SO_REUSE=y
CONFIG_LWIP_TCP_KEEPALIVE=y
