# Flash (Configurado para 4MB)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Tabla de Particiones Personalizada
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"# Logs
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# FreeRTOS (mediciones y estabilidad)
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
# ticks a 1 ms para vTaskDelayUntil estable (opcional)
CONFIG_FREERTOS_HZ=1000   

# Watchdog
CONFIG_ESP_TASK_WDT=y
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=y
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=y

# UART (buffers más grandes para MSP/iBUS si los necesitas)
CONFIG_UART_ISR_IN_IRAM=y

# lwIP (timeouts razonables; ajusta si hace falta)
CONFIG_LWIP_MAX_SOCKETS=10
CONFIG_LWIP_SO_REUSE=y

# Habilitar Excepciones C++ (try/throw/catch)
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_EXCEPTIONS_EMG_POOL_SIZE=0

# Habilitar RTTI (Run-Time Type Information) - Necesario para dynamic_cast/typeid
CONFIG_COMPILER_CXX_RTTI=y

